<!DOCTYPE html>

<html lang="en" ng-app="StarterApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>OpenThread Border Router</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="res/img/android-desktop.png">
    <link rel="stylesheet" href="res/css/angular-material.min.css">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="res/img/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="static/img/favicon.png">

    <link rel="stylesheet" href="static/css/material.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>

<body ng-controller="AppCtrl">
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--indego-900 mdl-color-text---600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{headerTitle}}</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">

            </div>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--cyan-600 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">

            <h4 style="margin: 18px 12px 12px 24px">OT Border Router</h4>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <md-list flex>
                <md-list-item md-ink-ripple class="mdl-navigation__link" ng-repeat="item in menu" ng-click="showPanels($index)" layout="row">
                    <div><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">ICON</i>TITLE
                    </div>
                </md-list-item>
            </md-list>
            <div class="mdl-layout-spacer"></div>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
            <div class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-show="menu[1].show">
                <h4>Available Thread Networks</h4>
                <div class="mdl-cell--12-col">
                    <table class="mdl-data-table mdl-js-data-table" cellspacing="0" width="100%" ng-show="!isLoading">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">No.</th>
                            <th>Network Name</th>
                            <th>Extended PAN ID</th>
                            <th>PAN ID</th>
                            <th>channel</th>
                            <th>Hardware Address</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for device in scan_result %}
                        <tr ng-repeat="item in networksInfo track by $index">
                            <td>{{device._index}}</td>
                            <td>{{device._network_name}}</td>
                            <td>{{device._xpanid}}</td>
                            <td>{{device._panid}}</td>
                            <td>{{device._channel}}</td>
                            <td>{{device._ext_address}}</td>
                            <td>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button show-modal" ng-click="showJoinDialog($event, $index, item)">Join</button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </main>
</div>

<script src="static/js/material.min.js"></script>
<script src="static/js/angular.min.js"></script>
<script src="static/js/angular-animate.min.js"></script>
<script src="static/js/angular-aria.min.js"></script>
<script src="static/js/angular-material.min.js"></script>
<script src="static/js/angular-messages.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/d3.min.js"></script>
</body>

</html>
