{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Role</th>
        <th>RLOC16</th>
        <th>Age</th>
        <th>Avg RSSI</th>
        <th>Last RSSI</th>
        <th>Extended MAC</th>
    </tr>
    </thead>
    <tbody>
    {% for neighbor in neighbor_table %}
    <tr>
        <td>{{neighbor._role}}</td>
        <td>{{neighbor._rloc16}}</td>
        <td>{{neighbor._age}}</td>
        <td>{{neighbor._avg_rssi}}</td>
        <td>{{neighbor._last_rssi}}</td>
        <td>{{neighbor._ext_mac}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}