{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>PAN ID</th>
        <th>MAC Address</th>
        <th>Channel</th>
        <th>dBm</th>
        <th>LQI</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for device in scan_result %}
    <tr>
        <td>{{device._panid}}</td>
        <td>{{device._mac}}</td>
        <td>{{device._channel}}</td>
        <td>{{device._dbm}}</td>
        <td>{{device._lqi}}</td>
        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button show-modal" ng-click="showJoinDialog($event, $index, item)">Join</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}